*{
    color: var(--white);
}

:root {
    --green1: #113E1A;
    --green2: #1F7125;
    --green3: #44B94F;
    --white: #F8F1FF;
    --fawn: #F0B473;
}

main {
    background-color: var(--green1);
    width: auto;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main img{
    width: 150px;
    height: 150px;
}

h1 {
    padding-top: 50%;
    color: var(--white)
}

main div div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}