
/* main {
    width: auto;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} */

/* main img{
    width: 150px;
    height: 150px;
} */

/* .welcomeHeader {
    padding-top: 50%;
} */

/* main div div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */